<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QuickHire Suite">
	<test name="QuickHire Test2">
		<classes>
			<class
				name="org.automation.testcases.TC_002_Validate_Creating_New_Hire_Altres" />
			<class
				name="org.automation.testcases.TC_003_Validate_filters_displayed_on_new_hire_list" />
			<class
				name="org.automation.testcases.TC_004_Validate_Select_Customer_when_no_customers_in_list" />
				<class
				name="org.automation.testcases.TC_005_Validate_fields_Add_New_Hire" />

		</classes>
	</test>
</suite>